@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Silkscreen&display=swap');

body {
    font-family: 'Abril Fatface', cursive;
    background-color: #413F42;
}

#seleccionar-personaje {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    color: #FFD717;
    font-size: 50px;
    margin: 0px;
}

.subtitulo {
    color: #FFFFFF;
    font-size: 35px;
}

.tarjetas, .tarjetas-ataques {
    display: flex;
    gap: 10px;
}

.tarjeta-de-kimetsu {
    width: 320px;
    height: 320px;
    background: #EEEEEE;
    padding: 14px;
    box-sizing: border-box;
    margin-top: 20px;
    border: 2px solid;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tarjeta-de-kimetsu img {
    width: 150px;
}

#boton-personaje {
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid;
    margin-top: 10px;
    color: #EEEEEE;
}

input {
   display: none;
}

input:checked + label {
    background-color: #4E6C50;
}

#seleccionar-ataque {
    flex-direction: column;
    align-items: center;
}

.boton-de-ataque {
    background: #F3F1F5;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 15px;
    border-color:  transparent;
    width: 70px;
    margin: 2px;
}

#mensajes {
    width: 260px;
    background-color: #698269;
    padding: 10px;
    margin-top: 10px;
    border-radius: 12px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#boton-reiniciar {
    font-family: 'Abril Fatface', cursive;
    background-color: #9873B9;
    border: none;
    color: white;
}

.ataques {
    display: grid;
    grid-template-columns: 100px 100px;
}

.ataques-jugador, .ataques-enemigo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #EEEEEE;
}

#ver-mapa {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#ver-mapa button {
    width: 90px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid;
    margin: 2px;
    color: #FFFFFF;
}

@media (max-width: 480px) {
    .tarjetas, .tarjetas-ataques {
        flex-direction: column;
    }
}

@media (max-width: 320px) {
    #ver-mapa div {
        flex-direction: column;
        align-items: center;
        flex-direction: column;
    }
}